/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
  font-family: "Bonnet Grotesque Nr DEMO";
  src: url("assets/fonts/BonnetGrotesque-Regular.woff") format("woff2"),
    url("assets/fonts/BonnetGrotesque-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Bonnet Grotesque Nr DEMO";
  font-weight: normal;
  font-style: normal;
  color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.pattern-text {
  color: var(--pattern-color-3);
}

.pattern-text-2 {
  color: var(--pattern-color-4);
}

.page-content {
  --background: var(--background);
}

ion-icon.pattern-icon {
  border-radius: 50%;
  padding: 2px;
  width: 12px;
  height: 12px;
  font-size: 5px;
  border: var(--pattern-color-5) 1px solid;
  color: var(--pattern-color-5);
}

.shiny-box {
  box-shadow: 0 0 2px var(--pattern-color-5), 0 0 2px var(--pattern-color-5),
    0 0 15px var(--pattern-color-6);
  transition: box-shadow 0.3s ease-in-out;
}
