ion-header {
  --ion-header-border-radius: 40px;

  border-bottom-left-radius: var(--ion-header-border-radius);
  border-bottom-right-radius: var(--ion-header-border-radius);
  overflow: hidden;

  ion-toolbar {
    --background: var(--ion-color-pattern);
  }
}
