<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon class="menu-icon" name="menu-outline"></ion-icon>
    </ion-buttons>

    <div class="logo-container">
      <img src="assets/imgs/app_logo_processed_2.png" alt="App Logo" />
    </div>

    <ion-buttons slot="end">
      <ion-button class="notification-button">
        <ion-icon name="notifications"></ion-icon>
        <div class="badge"></div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="user-info">
    <img src="assets/imgs/person.png" alt="" />

    <div class="text">
      <div class="name pattern-text">Leonardo Santos</div>
      <div class="level pattern-text-2">Nivel roxo</div>
    </div>
  </div>

  <div class="buttons-container soft-shadow">
    <div class="buttons">
      <div class="button">
        <ion-icon name="body" class="pattern-icon"></ion-icon>
        <p>MEU CORPO</p>
      </div>

      <div class="button">
        <ion-icon name="trophy" class="pattern-icon"></ion-icon>
        <p>OBJETIVOS E CONQUISTAS</p>
      </div>
    </div>
  </div>
</ion-header>

<ion-content class="page-content" [fullscreen]="true">
  <div class="container" id="container">
    <div class="sections">
      <div class="section" *ngFor="let section of sections | async">
        <div class="head">
          <div class="title">{{ section.name }}</div>

          <ion-icon
            *ngIf="section.icon_name"
            [name]="section.icon_name"
            class="pattern-icon"
          ></ion-icon>

          <div *ngIf="section.new" class="new-tag shiny-box">NOVO</div>
        </div>

        <swiper-container
          slides-per-view="auto"
          slides-offset-before="40"
          slides-offset-after="40"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of section.items">
            <div class="img-content">
              <div class="overlay" *ngIf="item.overlay.enabled">
                <div class="button">
                  <ion-icon
                    [name]="item.overlay.icon_name"
                    class="pattern-icon overlay-icon"
                  ></ion-icon>
                  <p [innerHTML]="item.overlay.overlay_msg"></p>
                </div>
              </div>
              <img [src]="item.img_url" alt="" />
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</ion-content>
